<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Testing Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/testing">Testing</a></li>
                {% if username %}
                    <li>Welcome, {{ username }}</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <h2>Testing</h2>
    <section>
        <p>This is a placeholder for the Testing page.</p>
        <p>You can use this space to test features or add additional content.</p>
    </section>

    <footer>

    </footer>
</body>
</html>
