<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Testing Page</title>
</head>
<body>
    <header>
        <h1>Testing Page</h1>
    </header>

    <section>
        <p>This is a placeholder for the Testing page.</p>
        <p>You can use this space to test features or add additional content.</p>
    </section>

    <footer>

    </footer>
</body>
</html>
